# Q1:

Think of at least three kinds of your favorite pizza. Store these pizza names in a list, and then use a for loop to print the name of each pizza.

In [1]:
Pizza_Names= ["Margherita", "Rich Chicken Alfredo", "Sicilian Thin Crust"]

In [2]:
for a in Pizza_Names:
    print(a)

Margherita
Rich Chicken Alfredo
Sicilian Thin Crust

# Q2

Start with your last question , Modify your for loop to print a sentence using the name of the pizza
instead of printing just the name of the pizza. For each pizza you should
have one line of output containing a simple statement like I like pepperoni
pizza.

In [3]:
Pizza_Names= ["Margherita", "Rich Chicken Alfredo", "Sicilian Thin Crust"]
for b in Pizza_Names:
    print("I would like to order", b)

I would like to order Margherita
I would like to order Rich Chicken Alfredo
I would like to order Sicilian Thin Crust

# Q3:

Use a for loop to print the numbers from 1 to 20,
inclusive.

In [4]:
for a in range(1,21):
    print (a)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

# Q4:

Use the third argument of the range() function to make a list
of the odd numbers from 1 to 20. Use a for loop to print each number.

In [5]:
for d in range (1,21):
    if d%2!=0:
       print (d)

1
3
5
7
9
11
13
15
17
19

# Q5:

Make a list of the multiples of 3 from 3 to 30. Use a for loop to
print the numbers in your list.

In [6]:
for c in range(1,11):
    print(3*c)

3
6
9
12
15
18
21
24
27
30

# Q6:

A number raised to the third power is called a cube. For example,
the cube of 2 is written as 2**3 in Python. Make a list of the first 10 cubes (that
is, the cube of each integer from 1 through 10), and use a for loop to print out
the value of each cube

In [7]:
for e in range(1,11):
    print(e**3)

1
8
27
64
125
216
343
512
729
1000

# Q7:

###### Make a python program that conatains your nine favourite dishes in a list called foods.

###### Print the message, The first three items in the list are:. 
###### Then use a slice to print the first three items from that program’s list.

###### Print the message, Three items from the middle of the list are:
###### Use a slice to print three items from the middle of the list.

###### Print the message, The last three items in the list are:
###### Use a slice to print the last three items in the list.

In [8]:
Foods = ["Chicken Shashlik","Pani Puri","Samosa","Chicken Tikka","Shawarma","Biryani","Caramel Pudding","Falooda","Ice cream"]

In [9]:
appetizers = slice(3)
entrees = slice(3,6)
desserts = slice(6,9)
print (Foods[appetizers])
print (Foods[entrees])
print (Foods[desserts])

['Chicken Shashlik', 'Pani Puri', 'Samosa']
['Chicken Tikka', 'Shawarma', 'Biryani']
['Caramel Pudding', 'Falooda', 'Ice cream']

# Q8:

### Start with your program from your last Question8.
###### Make a copy of the list of foods, and call it friend_foods.
###### Then, do the following:
######    Add a new dish to the original list.
######    Add a different dish to the list friend_foodss.
######    Prove that you have two separate lists. 
###### Print the message, My favorite pizzas are: and then use a for loop to print the first list. 
###### Print the message,
###### My friend’s favorite foods are:, and then use a for loop to print the second list.
    
##### NOTE: Make sure each new dish is stored in the appropriate list.

In [10]:
foods = ["Margherita", "Rich Chicken Alfredo", "Sicilian Thin Crust"]
friends_foods = ["Margherita", "Rich Chicken Alfredo", "Sicilian Thin Crust"]
foods.append("Chicago Deep Dish")
friends_foods.append("Mediterranean Pesto")
print (foods)
print (friends_foods)

['Margherita', 'Rich Chicken Alfredo', 'Sicilian Thin Crust', 'Chicago Deep Dish']
['Margherita', 'Rich Chicken Alfredo', 'Sicilian Thin Crust', 'Mediterranean Pesto']

In [11]:
unique_foods = []
for pizza in foods:
    if pizza not in friends_foods:
        unique_foods.append(pizza)
        print(unique_foods)
        if unique_foods!=0:
            print("This proves that the two lists were not the same lists")

['Chicago Deep Dish']
This proves that the two lists were not the same lists

# Q9:

Take a user input from console line.Store it in a variable called Alien_color.

If the alien’s color is red, print a statement that the player just earned 5 points for shooting the alien.

If the alien’s color isn’t green, print a statement that the player just earned 10 points.

If the alien's color isn't red or green , print a statment :, Alien is no more.....

In [12]:
Alien_color = input("Enter a color ")

Enter a color teal

In [13]:
if Alien_color == "red":
    print ("Player earned 5 points for shooting the alien")
elif Alien_color == "green":
    print("Player earned 10 points")
else:
    print("Alien is no more")

Alien is no more

# Q10:

Write an if-elif-else chain that determines a person’s
stage of life. Set a value for the variable age, and then:
    
•	 If the person is less than 2 years old, print a message that the person is a baby.

•	 If the person is at least 2 years old but less than 4, print a message that the person is a toddler.

•	 If the person is at least 4 years old but less than 13, print a message that the person is a kid.

•	 If the person is at least 13 years old but less than 20, print a message that the person is a teenager.

•	 If the person is at least 20 years old but less than 65, print a message that the person is an adult.

•	 If the person is age 65 or older, print a message that the person is an elder.

In [14]:
age = float(input("Enter the age "))

Enter the age 87

In [15]:
if age <= 2:
    print("The person is a baby")
elif age<= 4:
    print("The person is a toddler")
elif age<=13:
    print("The person is a kid")
elif age<=20:
    print("The person is a teenager")
elif age<=65:
    print("The person is an adult")
else:
    print("The person is an elder")

The person is an elder

# Q11:

Do the following to create a program that simulates how websites ensure that everyone has a unique username.

•	 Make a list of five or more usernames called current_users.

•	 Make another list of five usernames called new_users. 
Make sure one or two of the new usernames are also in the current_users list.

•	 Loop through the new_users list to see if each new username has already been used. 
If it has, print a message that the person will need to enter a new username. 
If a username has not been used, print a message saying that the username is available.

•	 Make sure your comparison is case insensitive. If 'John' has been used, 'JOHN' should not be accepted.

In [16]:
current_users = ["SMITH", "JOHNSON", "WILLIAMS", "JONES", "BROWN"]
new_users = ["DAVIS","MILLER","WILLIAMS","MOORE","JONES"]
unique_names = []
for names in new_users:
    if names not in current_users:
        unique_names.append(names)
        print(names, "as username is available")
        if unique_names==current_users:
            print("You need to enter a new username")

DAVIS as username is available
MILLER as username is available
MOORE as username is available

# Q12:

Use a dictionary to store information about a person you know.
Store their first name, last name, age, and the city in which they live. 
You should have keys such as first_name, last_name, age, and city. 
Print each piece of information stored in your dictionary

In [17]:
Mr_A = {"first_name: Ahmed","last_name: Shah","age: 45","city: Karachi"}

In [18]:
print(Mr_A)

{'city: Karachi', 'age: 45', 'last_name: Shah', 'first_name: Ahmed'}

# Q13:

Starts with your last question 12 , loop through the dictionary’s keys and values.
When you’re sure that your loop works, add five more Python terms to your
dictionary . When you run your program again, these new words and meanings
should automatically be included in the output.

In [19]:
Mr_A = {"first_name: Ahmed","last_name: Shah","age: 45","city: Karachi","tuple : ","list : ","separator : ","class : ",}

In [20]:
print(Mr_A)

{'class : ', 'last_name: Shah', 'list : ', 'separator : ', 'city: Karachi', 'tuple : ', 'age: 45', 'first_name: Ahmed'}

# Q14:

Make a dictionary containing three major rivers and the country
each river runs through. One key-value pair might be 'nile': 'egypt'.
    
    
•	 Use a loop to print a sentence about each river, such as The Nile runs
through Egypt.

NOTE: use upper case through keys and values.

In [21]:
rivers = {"Nile : Egypt","Amazon : Brazil","Indus : Pakistan"}
print(rivers)

{'Amazon : Brazil', 'Indus : Pakistan', 'Nile : Egypt'}

In [22]:
for k, v in rivers.items():
    print (f'{k} runs through , {v}')

AttributeError: 'set' object has no attribute 'items'

# Q15:

Make several dictionaries, where the name of each dictionary is the
name of a pet. In each dictionary, include the kind of animal and the owner’s
name. Store these dictionaries in a list called pets. Next, loop through your list
and as you do print everything you know about each pet.

In [23]:
Tabby = {"Name : Tabby","Color : Black","Gender : Male","Age : 10 years","Status : Adopted","Breed : Siamese cat","Owner's name: Alex Sheffield"}
Tiger = {"Name : Tiger","Color : Off-white","Gender : Male","Age : 8 years","Status : Possession since birth","Breed : Labrador Retriever","Owner's name: Severus Kettleburn"}
Hedwig= {"Name :Hedwig","Color : Snowy white","Gender : Female","Age : 17 years","Status : Adopted","Breed : Snowy owl","Owner's_name: Johnathan Hughes"}
Jake  = {"Name :Jake","Color : White","Gender : Male","Age : 6 years","Status : Adopted","Breed : Muscovys drake","Owner's_name: Dacre Montogmery"}
Kelly = {"Name : Kelly","Color : Grey","Gender : Female","Age : 26 years","Status : Adopted","Breed : African Grey Parrot","Owner's_name: Jason Yaxley"}
Weltmeyer = {"Name : Weltmeyer","Color : Chestnut","Gender : Female","Age : 25 years","Status : Bred","Breed : Hanoverian","Owner's_name: Andrews Potter"}
Cinnabunn = {"Name : Cinnabunn","Color : Blue","Gender : Male","Age : 4 years","Status : Adopted","Breed : Blue of Sint-Niklaas","Owner's_name: Bilius Scamandor"}
Mufasa = {"Name : Mufasa","Color : Brown and Cream","Gender : Male","Age : 3 years","Status : Rescued","Breed : Sable ferret","Owner's_name : Thomas Ulrich"}

Pets = [Tabby,Tiger,Hedwig,Jake,Kelly,Weltmeyer,Cinnabunn,Mufasa]

for a in Pets:
#   Pets.get("Tabby")
#for k , v in Tabby.iteritems():
   print (list)
 #   elif:
#        print()
print(Pets)

<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
[{'Gender : Male', 'Breed : Siamese cat', 'Status : Adopted', 'Color : Black', 'Name : Tabby', "Owner's name: Alex Sheffield", 'Age : 10 years'}, {'Gender : Male', 'Name : Tiger', "Owner's name: Severus Kettleburn", 'Color : Off-white', 'Age : 8 years', 'Status : Possession since birth', 'Breed : Labrador Retriever'}, {'Age : 17 years', 'Name :Hedwig', 'Gender : Female', "Owner's_name: Johnathan Hughes", 'Breed : Snowy owl', 'Status : Adopted', 'Color : Snowy white'}, {'Gender : Male', 'Breed : Muscovys drake', 'Age : 6 years', 'Color : White', 'Status : Adopted', "Owner's_name: Dacre Montogmery", 'Name :Jake'}, {'Name : Kelly', "Owner's_name: Jason Yaxley", 'Gender : Female', 'Color : Grey', 'Age : 26 years', 'Status : Adopted', 'Breed : African Grey Parrot'}, {'Gender : Female', 'Breed : Hanoverian', 'Age : 25 years', 'Name : Weltmeyer', 'Status : Bred', 'Color : Chestnut', "Owner's_name: Andrews Potter"}, {'Gender : Male', 'Name : Cinnabunn', 'Color : Blue', 'Status : Adopted', 'Age : 4 years', 'Breed : Blue of Sint-Niklaas', "Owner's_name: Bilius Scamandor"}, {'Age : 3 years', 'Gender : Male', 'Color : Brown and Cream', 'Name : Mufasa', 'Status : Rescued', 'Breed : Sable ferret', "Owner's_name : Thomas Ulrich"}]